* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yekan;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dff9fb;
  transition: all 0.5s
}
.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 15px;
  padding: 10px 20px 20px;
  background-color: #ffff;
  transition: all 0.5s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.display {
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  border: none;
  text-align: right;
  font-size: 25px;
  pointer-events: none;
  word-spacing: 25px;
  letter-spacing: 3px;
  border-radius: 15px;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.9);
}
.operator {
  color: #3742fa;
}
.btn {
  background-color: #ffff;
  width: 3.5em;
  height: 1.8em;
  position: absolute;
  margin-top: -30rem;
  border-radius: 10em;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.05),
    inset 0 8px 8px rgba(0, 0, 0, 0.05), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

.btn_indicator{
  background-color: #ffff;
  width: 1.9em;
  height: 1.8em;
  border-radius: 50%;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}
.btn_icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_icon{
  color: #fff200;
  font-size: 18px
}
.darkmode .btn_indicator {
  transform: translateX(1.75em)
}
body.darkmode {
  background-color: #3d3d3d;
}
.darkmode .btn_indicator {
  background-color: #4b4b4b;
}
.darkmode .btn_icon {
  color: #ecf0f1;
}
.btn_icon.animated {
  animation: spin 0.5s;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}